<!-- Card -->
<div style="margin-top:5%;" align="center">
<div style="width:45%;" class="card col-lg-5 col-md-6 col-sm-6 col-xl-7 subscribe-card">

    <!-- Card body -->
    <div class="card-body">

        <!-- Default form subscription -->
        <form method="POST" action="/subscribed">
            <p class="h4 text-center py-4">Subscribe to Our Newsletter</p>

            <!-- Default input email -->
            <label for="email" class="grey-text font-weight-light">Your email</label>
            <input type="email" id="email" name="email" class="form-control" required>

            <div class="text-center py-4 mt-3">
                <input type="submit" class="btn btn peach-gradient btn-lg waves-effect" value="Subscribe">
            </div>
        </form>
        <!-- Default form subscription -->

    </div>
    <!-- Card body -->

</div>
</div>
<!-- Card -->

<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4 mt-4">
    <!-- Social buttons -->

    <ul class="list-unstyled list-inline text-center">
<li class="list-inline-item"> <a class="btn-floating btn-fb mx-1" href="https://www.facebook.com/CAMAafrica/?fref=ts" target="_blank"><i class="fa fa-facebook"> </i> </a>  </li>
    </ul>

    <ul class="list-unstyled list-inline text-center">
      <li style="display:inline-block;"><a href="/terms_of_use" target="_blank">Terms of Use</a> </li>
      <p style="display:inline-block; color:#FFA000;">  &  </p>
      <li style="display:inline-block;"><a href="/privacy_policy" targe="_blank">Privacy Policy</a> </li>
    </ul>



    <!-- Social buttons -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright -
      <a style="color:#FFA000;" href="http://camaafrica.org/">College Admissions Mentors For Africa</a>
    </div>
    <!-- Copyright -->

</footer>



    <!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>

$(document).ready(function() {


if ($(window).width() < 680) {

  //HOVER dropdown JQuery

}

else{


  $("#mentorDropdown").hover(
      function() {
          $('#mentorDropdownul').slideDown(1);
      },
      function() {
          $('#mentorDropdownul').slideUp(1);
      }
  );

  $("#boardDropdown").hover(
    function(){
      $('#boardDropdownul').slideDown(1);
    },
    function(){
      $('#boardDropdownul').slideUp(1);
    }
  );

  $('#resourcesDropdown').hover(
    function(){
      $('#resourcesDropdownul').slideDown(1);
    },
    function(){
      $('#resourcesDropdownul').slideUp(1);
    }
  );

}

});

</script>


    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>



</body>

</html>
