<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="college, applications, african, students, african opportunitites, african student organization, education, study abroad, mentorship, free, scholarships, CAMA " >

    <meta name="description" content=" College Admissions Mentors for Africa is a community of students and professionals who provide free college application advice to African students, and who share a commitment to contributing towards African advancement">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/img/logos/AfricaGlobal.png">

    <title>College Admissions Mentors For Africa-CAMA</title>

    <!-- Bootstrap Core CSS -->
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel = "/stylesheet" type = "text/css" href = "menustyle.css">

    <!-- Custom CSS -->
    <link href="/css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/app.css">

</head>


<body id="page-top" class="index">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/">CAMA</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="margin-right: 9%;">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>

                   <li>
			   <a class="page-scroll" href="#team"></a>
		</li>

                    <li>
                        <a class="page-scroll" href="/#join">Join</a>
                    </li>
                    <li>
                      <li>
                        <div class="dropdown">
                            <a href = "/resources"> <button class="dropbtn">RESOURCES</button> </a>
                            <div class="dropdown-content">
                              <a href="https://drive.google.com/drive/folders/0B99PUkc3AdAyLTVXTkt3QVlXSmM?usp=sharing">Mentor Resources</a>
                              <a href="https://drive.google.com/drive/folders/0B99PUkc3AdAyUFM1c1plX0dEdUE?usp=sharing">Mentee Resources</a>

                            </div>
                        </div>
                      </li>

                      <!--<li>
                      <div class="dropdown">
                          <a  href="/mentees"> <button class="dropbtn">MENTEES</button></a>
                          <div class="dropdown-content">
                            <a href="mentees/current">Current Mentees</a>
                            <a href="mentees/previous">Previous Mentees</a>
                          </div>
                      </div>
                    </li> -->


                      <li>
                       <div class="dropdown">
                           <a  href="/mentors"> <button class="dropbtn">MENTORS</button></a>
                           <div class="dropdown-content">
                             <a href="/mentor/current">Current Mentors</a>
                             <a href="/mentor/previous">Previous Mentors</a>
                           </div>
                       </div>
                     </li>

                    <li>
                      <div class="dropdown">

                        <a  href="/executives"> <button class="dropbtn">EXECUTIVE TEAM</button></a>
                        <div class="dropdown-content">
                          <a href="#">EBoard</a>
                          <a href="#">Advisory Team</a>
                        </div>

                      </div>
                    </li>

                    <li>
                        <a href="https://camaafrica.wordpress.com/">Our Blog</a>

                    </li>

                    <li>
                        <a href="/contactus">CONTACT US </a>
                    </li>

                    <li>
                        <a class="page-scroll" href="/#about">About</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
