<% include ./partials/header %>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">COLLEGE ADMISSIONS MENTORS FOR AFRICA</div>
                <div class="intro-lead-in">We're a youth led initiative providing free college application advice to African high school students</div>
                <a href="#about" class="page-scroll btn btn-xl">Contact Us</a>
				<a href="https://www.facebook.com/CAMAafrica/" class="page-scroll btn btn-xl" target="_blank">Follow Us</a>
            </div>
        </div>
    </header>

	    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Us</h2>

                </div>
            </div>
			<center><img src="/CAMALOGO.jpg" class="img-responsive img-square" alt=""></center>
			<p> </p>
			<p> </p>
			<p> </p>
			<p> </p>
			<p> </p>
			<p> </p>
			<div class="row">

			<p class="text-muted"><center>We're an international community of college students and professionals who provide advice and assistance to young Africans seeking admission into institutions of higher education abroad the continent.Our mission is to provide information and other resources to African students who are interested in an education abroad, that will enable them not only to gain admission into the universities and colleges of their choice, but to start off their college/university careers in as exciting a manner as possible.Our vision is to see to the creation of a network of students who demonstrate a shared passion for Africa’s wholesome advancement and are committed to bringing about positive change upon the continent, with the use of the skills, resources, and connections that they acquire during the course of their education. </center></p>

			</div class="row">
        </div>
    </section>

<% include ./partials/footer %>
