<% include ./partials/header %>


    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">COLLEGE ADMISSIONS MENTORS FOR AFRICA</div>
                <div class="intro-lead-in">We're a youth led initiative providing free college application advice to African high school students</div>
                <a href="/contactus" class="page-scroll btn btn-xl">Contact Us</a>
				<a href="https://www.facebook.com/CAMAafrica/" class="page-scroll btn btn-xl" target="_blank">Follow Us</a>
            </div>
        </div>
    </header>

	    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Us</h2>

                </div>
            </div>
			<center><img src="/CAMALOGO.jpg" class="img-responsive img-square" alt=""></center>
			<p> </p>
			<p> </p>
			<p> </p>
			<p> </p>
			<p> </p>
			<p> </p>
			<div class="row">

			<p class="text-muted"><center>We're an international community of college students and professionals who provide advice and assistance to young Africans seeking admission into institutions of higher education abroad the continent.Our mission is to provide information and other resources to African students who are interested in an education abroad, that will enable them not only to gain admission into the universities and colleges of their choice, but to start off their college/university careers in as exciting a manner as possible.Our vision is to see to the creation of a network of students who demonstrate a shared passion for Africa’s wholesome advancement and are committed to bringing about positive change upon the continent, with the use of the skills, resources, and connections that they acquire during the course of their education. </center></p>

			</div class="row">
        </div>
    </section>





<!-- EJS For Mentors -->

<!--End of Mentors -->

<section id="join">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">JOIN OUR COMMUNITY</h2>
                <h3 class="section-subheading text-muted">CAMA is a continually expanding global community, and we'd be psyched to have you join us!</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-square fa-stack-2x text-primary"></i>
        <a href="https://goo.gl/forms/hrz7CJPqTc4PofqO2">
                    <i class="fa fa-book fa-stack-1x fa-inverse"></i>
        </a>
                </span>
                <a href="https://goo.gl/forms/hrz7CJPqTc4PofqO2">
                <h4 class="service-heading">Become A Mentee</h4>
      </a>
                <p class="text-muted" align="justify">Receive mentorship and guidance about the application process, as well as helpful advice about the transition to college from students in top universities and colleges all around the world! And become a part of the respective African Student Organizations at your choice school even before you get there!
                <br>

                <a href="Mentee_Contract.html" target="_blank">See Mentee Contract</a>


                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-square fa-stack-2x text-primary"></i>
        <a href="https://goo.gl/forms/w7pOlM0dJaoafK7x2">
                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
        </a>
                </span>
                <a href="https://goo.gl/forms/w7pOlM0dJaoafK7x2">
                <h4 class="service-heading">Become A Mentor</h4>
      </a>
                <p class="text-muted"align="justify">Establish relationships with hard working and motivated African students from every part of the continent, assist them through the college application process and join a growing network of students and professionals who demonstrate the potential to bring about positive change on the African continent. Stay connected with African student organisations from all around the world!
              <br>

                <a href="Mentor_Contract.html" target="_blank">See Mentor Contract</a>
</p>

            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">

      <i class="fa fa-square fa-stack-2x text-primary"></i>
      <a href="https://goo.gl/forms/bNAx99cwRPFvbxF92">
                <i class="fa fa-briefcase fa-stack-1x fa-inverse"></i>
      </a>


                </span>
      <a href="https://goo.gl/forms/bNAx99cwRPFvbxF92">
                <h4 class="service-heading">Become A Partner</h4>
      </a>
                <p class="text-muted" align="justify">Join our continually expanding community of African student organisations, educational institutions and sponsors, working together to support Africa’s next generation of leaders, innovators, and change-makers.
</p>
            </div>
        </div>
    </div>
</section>

<% include ./partials/footer %>
