<% include ./partials/header %>



<div class="bg" align=center>

<div class="container">
  <div class="row wow fadeIn">
         <!--Grid column-->
         <div class="col-md-12 white-text text-center">
           <h2 class="display-4 font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInUp">
             College Admissions Mentors For Africa
             <hr>
           </h2>
           <h5 class="pt-md-5 pt-sm-2 pt-5 pb-md-5 pb-sm-3 pb-5 wow fadeInUp" data-wow-delay="0.2s">
              We're a youth led initiative providing free college application advice to African high school students
          </h5>

           <div class="wow fadeInUp" data-wow-delay="0.4s">
             <a id="intro-button" onclick="location.href='mailto:admissions.cama@gmail.com'" type="button" class="btn peach-gradient  btn-lg col-lg-3 col-md-3 col-sm-5 col-6">Contact Us</a>
             <a id="intro-button" href="https://www.facebook.com/CAMAafrica/?fref=ts" target="_blank" class="btn peach-gradient  btn-lg col-lg-3 col-md-3 col-sm-5 col-6">Follow Us</a>
           </div>
         </div>
         <!--Grid column-->
       </div>


</div>
</div>

<!-- Projects section v.4 -->
<section id="whoarewe">
<div class="container">
  <!-- Section heading -->
  <div style="margin-top:4%; color:#FFA000; font-size: 40px;font-weight: 700; font-family: 'Maven Pro', sans-serif; " align="center"> <strong>Who Are We?</strong> </div>
  <!-- Section description -->
  <p style="font-weight:500;font-weight: 700; font-family: 'Maven Pro', sans-serif;"class="text-center w-responsive mx-auto mb-5"> CAMA is an international community of college students and professionals who provide advice and assistance to young Africans seeking admission into institutions of higher education abroad the continent.</p>

  <!-- Grid row -->
  <div class="row">
    <!-- Grid column -->
    <div class="col-md-6 mb-md-0 mb-4">
      <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20%2873%29.jpg);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
          <div>
            <h3 class="py-3 font-weight-bold pink-text">
                <strong>Our Mission</strong>
            </h3>
            <p class="pb-4"><center>Our mission is to provide information and other resources to African students who are interested in an education abroad, that will enable them not only to gain admission into the universities and colleges of their choice, but to start off their college/university careers in as exciting a manner as possible.</center></p>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->

    <div class="col-md-6">
      <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20%2847%29.jpg);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
          <div style="margin-bottom:7px;">
            <h3 class="py-3 font-weight-bold green-text">
              <strong>Our Vision</strong>
            </h3>
            <p class="pb-3" align="justify"><center>Our vision is to see to the creation of a network of students who demonstrate a shared passion for Africa’s wholesome advancement and are committed to bringing about positive change upon the continent, with the use of the skills, resources, and connections that they acquire through their education. </center></p>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->


<div style="margin-top:4%; color:#FFA000; font-size: 40px;font-weight: 700; font-family: 'Maven Pro', sans-serif; " align="center"> <strong>Learn More About Us</strong> </div>
<p style="text-align:center;font-weight: 700; font-family: 'Maven Pro', sans-serif;"> Watch the Video to learn more about CAMA:</p>
<div align="center">

<video style="width:77%;" controls>
  <source src="/videos/camavideo.mp4" type="video/mp4">
</video>
</div>

</div>
</section>

<section id="join">
<div style="margin-top:6%;">

  <!-- Projects section v.1 -->
  <div class="container">
  <section class="text-center my-5">

    <!-- Section heading -->
    <div style="margin-top:4%; color:#FFA000; font-size: 40px;font-weight: 700; font-family: 'Maven Pro', sans-serif; " align="center"> <strong>Join Our Community</strong> </div>
    <!-- Section description -->
    <p style="text-align:center;font-weight: 700; font-family: 'Maven Pro', sans-serif;">CAMA is a continually expanding global community, and we'd be psyched to have you join us!</p>


    <!-- Grid row -->
    <div style="margin-top:3%;" class="row text-center">

      <!-- Grid column -->

      <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
        <!--Featured image-->
        <div class="view overlay rounded z-depth-1">
          <img src="/img/Mentee_MentorLogo/menteelogo.png" class="img-fluid" alt="Sample project image">
          <a href="https://goo.gl/forms/hrz7CJPqTc4PofqO2">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--Excerpt-->
        <div class="card-body pb-0">
          <h4 class="font-weight-bold my-3">Become A Mentee</h4>
          <p align=justify class="grey-text">Receive mentorship and guidance about the application process, as well as helpful advice about the transition to college, from students in top universities and colleges all around the world! And become a part of the respective African Student Organizations at your choice school even before you get there!</p>
          <a class="btn btn-warning btn-sm" href="https://goo.gl/forms/hrz7CJPqTc4PofqO2"><i class="fa fa-clone left"></i>Apply Now</a>
        </div>
        <a href="/menteeContract">See Mentee Contract</a>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-4 col-md-6 mb-md-0 mb-4">
        <!--Featured image-->
        <div class="view overlay rounded z-depth-1">
          <img src="img/Mentee_MentorLogo/Mentoring_scheme.jpg" class="img-fluid" alt="Sample project image" style="height:340px;">
          <a href="https://goo.gl/forms/w7pOlM0dJaoafK7x2">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--Excerpt-->
        <div class="card-body pb-0">
          <h4 class="font-weight-bold my-3">Become A Mentor</h4>
          <p class="grey-text" align=justify>Establish relationships with hard working and motivated African students from every part of the continent, assist them through the college application process and join a growing network of students and professionals who demonstrate the potential to bring about positive change on the African continent. Stay connected with African student organisations from all around the world!
          </p>
          <a class="btn btn-warning btn-sm" href="https://goo.gl/forms/w7pOlM0dJaoafK7x2"><i class="fa fa-clone left"></i>Apply Now</a>
        </div>
        <a href="/mentorContract">See Mentor Contract</a>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-4 col-md-6">
        <!--Featured image-->
        <div class="view overlay rounded z-depth-1">
          <img src="/img/Mentee_MentorLogo/partnerlogo.png" class="img-fluid" alt="Sample project image">
          <a href="https://goo.gl/forms/bNAx99cwRPFvbxF92">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--Excerpt-->
        <div class="card-body pb-0">
          <h4 class="font-weight-bold my-3">Become A Partner</h4>
          <p class="grey-text" align=justify>Join our continually expanding community of African student organisations, educational institutions and sponsors, working together to support Africa’s next generation of leaders, innovators, and change-makers.
          </p>
          <a class="btn btn-warning btn-sm" href="https://goo.gl/forms/bNAx99cwRPFvbxF92"><i class="fa fa-clone left"></i>Apply Now</a>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </section>
</div>
  <!-- Projects section v.1 -->

</div>
</section>

<% include ./partials/footer %>
