<% include ./partials/header %>
<!-- Join Section -->
 <section id="join">
     <div class="container">
         <div class="row">
             <div class="col-lg-12 text-center">
                 <h2 class="section-heading">JOIN OUR COMMUNITY</h2>
                 <h3 class="section-subheading text-muted">CAMA is a continually expanding global community, and we'd be psyched to have you join us!</h3>
             </div>
         </div>
         <div class="row text-center">
             <div class="col-md-4">
                 <span class="fa-stack fa-4x">
                     <i class="fa fa-square fa-stack-2x text-primary"></i>
         <a href="https://goo.gl/forms/hrz7CJPqTc4PofqO2">
                     <i class="fa fa-book fa-stack-1x fa-inverse"></i>
         </a>
                 </span>
                 <a href="https://goo.gl/forms/hrz7CJPqTc4PofqO2">
                 <h4 class="service-heading">Become A Mentee</h4>
       </a>
                 <p class="text-muted">Receive mentorship and guidance about the application process, as well as helpful advice about the transition to college from students in top universities and colleges all around the world! And become a part of the respective African Student Organizations at your choice school even before you get there!
                 <br>

                 <a href="Mentee_Contract.html" target="_blank">See Mentee Contract</a>


                 </p>
             </div>
             <div class="col-md-4">
                 <span class="fa-stack fa-4x">
                     <i class="fa fa-square fa-stack-2x text-primary"></i>
         <a href="https://goo.gl/forms/w7pOlM0dJaoafK7x2">
                     <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
         </a>
                 </span>
                 <a href="https://goo.gl/forms/w7pOlM0dJaoafK7x2">
                 <h4 class="service-heading">Become A Mentor</h4>
       </a>
                 <p class="text-muted">Establish relationships with hard working and motivated African students from every part of the continent, assist them through the college application process and join a growing network of students and professionals who demonstrate the potential to bring about positive change on the African continent. Stay connected with African student organisations from all around the world!
               <br>

                 <a href="Mentor_Contract.html" target="_blank">See Mentor Contract</a>
</p>

             </div>
             <div class="col-md-4">
                 <span class="fa-stack fa-4x">

       <i class="fa fa-square fa-stack-2x text-primary"></i>
       <a href="https://goo.gl/forms/bNAx99cwRPFvbxF92">
                 <i class="fa fa-briefcase fa-stack-1x fa-inverse"></i>
       </a>


                 </span>
       <a href="https://goo.gl/forms/bNAx99cwRPFvbxF92">
                 <h4 class="service-heading">Become A Partner</h4>
       </a>
                 <p class="text-muted">Join our continually expanding community of African student organisations, educational institutions and sponsors, working together to support Africa’s next generation of leaders, innovators, and change-makers.
</p>
             </div>
         </div>
     </div>
 </section>
 <% include ./partials/footer %>
