<% include ./partials/header %>


<div style="margin-top:10%; width:65%;" class="container contracts">

<div style="margin-bottom:5%;">
<div class="card contracts-card">


  <div class="card-header"><h1 style="color:black; font-weight:700" align=center>Mentor Contract</h1></div>
  <div class="card-body">
    <h5 class="card-title" style="padding-bottom:2%;"><h5 style="color:black; position:inherit; font-weight:700">As a volunteer mentor for CAMA, you agree to and/or understand the following terms and conditions:<h5></h5>
    <p class="card-text">
      <div  align="justify"  style="padding:1%; color:black"><p style="font-size:20px;margin-left:1%;"> <span class="glyphicon glyphicon-ok-sign" style="font-size:30px; color:gold;"></span>1.	While you do not know everything there is about admissions, you will do your very best to help the mentee gain admission. </p> </div>
      <div  align="justify" style="padding:1%; color:black"><p style="font-size:20px;margin-left:1%;"> <span class="glyphicon glyphicon-ok-sign" style="font-size:30px;color:gold;"></span>2.	You will not promise, guarantee or otherwise claim that the mentee will or will not be admitted. </p> </div>
      <div  align="justify" style="padding:1%; color:black"><p style="font-size:20px;margin-left:1%;"> <span class="glyphicon glyphicon-ok-sign" style="font-size:30px;color:gold;"></span>3.	You will follow the provided curriculum for mentorship that ensures a standardized service. </p> </div>
      <div align="justify" style="padding:1%;color:black"><p style="font-size:20px;margin-left:1%;"> <span class="glyphicon glyphicon-ok-sign" style="font-size:30px;color:gold;"></span>4.	At no point during the mentorship will you force your mentee to accept your opinions. Ultimately it is up to the mentee to accept or reject your recommendations. </p></div>
      <div align="justify" style="padding:1%;color:black"><p style="font-size:20px;margin-left:1%;"> <span class="glyphicon glyphicon-ok-sign" style="font-size:30px;color:gold;"></span>5.	You are not responsible for any college rejections, disappointments and other losses that your mentee might experience. </p> </div>
      <div align="justify" style="padding:1%;color:black"><p style="font-size:20px;margin-left:1%;"> <span class="glyphicon glyphicon-ok-sign" style="font-size:30px;color:gold;"></span>6.	You will resolve any issues with your mentee by informing the CAMA team at admissions.cama@gmail.com. </p> </div>
      <div align="justify" style="padding:1%;color:black"><p style="font-size:20px;margin-left:1%;"> <span class="glyphicon glyphicon-ok-sign" style="font-size:30px;color:gold;"></span>7.	You are not going to be paid for the help you give, and will not ask mentee for any money. </p> </div>
      <div align="justify" style="padding:1%;color:black"><p style="font-size:20px;margin-left:1%;"> <span class="glyphicon glyphicon-ok-sign" style="font-size:30px;color:gold;"></span>8.	You will not share or ask mentee for private information that has no relevance to the mentorship, and that you cannot force the mentee to provide any information he/she is uncomfortable sharing. </p> </div>

      <div align=center><a class="btn blue-gradient btn-rounded waves-effect" href="/Contracts/MentorContract.pdf" download="CAMA-MentorContract PDF">Download A Copy</a></div>
  </div>


</div>
</div>

</div>

<% include ./partials/footer %>
