<% include ./partials/header %>




<div style="margin-bottom:5%;">
<div class="card contracts ">


  <div class="card-header"><h1 style="color:black; font-weight:700">Mentee Contract</h1></div>
  <div class="card-body">
    <h5 class="card-title" style="padding-bottom:2%;"><h5 style="color:black; font-weight:700" >By joining CAMA as a mentee, you agree to and/or understand the following terms and conditions:<h5></h5>
    <p class="card-text">
      <div  align="justify"  style="padding:1%; color:black"><p style="font-size:20px;margin-left:1%;"> <span class="glyphicon glyphicon-ok-sign" style="font-size:30px; color:gold;"></span> 1. That the guidance and advice provided to you will be given to the best of your mentor's abilities and with your best interests at heart. </p> </div>
      <div  align="justify" style="padding:1%; color:black"><p style="font-size:20px;margin-left:1%;"> <span class="glyphicon glyphicon-ok-sign" style="font-size:30px;color:gold;"></span> 2.	That you are not obliged to listen to the advice that your mentor gives, but that you will be willing to hear their guidance. </p> </div>
      <div  align="justify" style="padding:1%; color:black"><p style="font-size:20px;margin-left:1%;"> <span class="glyphicon glyphicon-ok-sign" style="font-size:30px;color:gold;"></span> 3.	That your mentor is not responsible for any college rejections, disappointments, or losses that you might experience during the mentorship. </p> </div>
      <div align="justify" style="padding:1%;color:black"><p style="font-size:20px;margin-left:1%;"> <span class="glyphicon glyphicon-ok-sign" style="font-size:30px;color:gold;"></span> 4.	That you will resolve any issues with your mentor by informing the CAMA team at admissions.cama@gmail.com. </p></div>
      <div align="justify" style="padding:1%;color:black"><p style="font-size:20px;margin-left:1%;"> <span class="glyphicon glyphicon-ok-sign" style="font-size:30px;color:gold;"></span> 5.	That you will not share any personal information that you are uncomfortable sharing. </p> </div>
      <div><a class="btn btn-primary" href="/" > Back To Home </a></div>
  </div>





</div>
</div>






<% include ./partials/footer %>
