<% include ./partials/header %>




<div style="margin-top:10%; width:65%;" class="container contracts">
<div style="margin-bottom:5%;">
<div class="card contracts-card">


  <div class="card-header"><h1 style="color:black; font-weight:700" align=center>CAMA Privacy Policy</h1></div>
  <div class="card-body">

<div align="center"><a href="/files/CAMAPrivacyPolicy.pdf" target=_blank  class="btn btn-outline-info waves-effect z-depth:5">Privacy Policy</a></div>

  </div>


</div>
</div>

</div>


<% include ./partials/footer %>
