<% include ./partials/header %>

    <!-- Header -->
    <header style="max-height:500px;">
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading" style="margin-top:-150px;">COLLEGE ADMISSIONS MENTORS FOR AFRICA</div>

                <div style="margin-top:100px;">
                        <a href="https://drive.google.com/drive/folders/0B99PUkc3AdAyLTVXTkt3QVlXSmM?usp=sharing" class="mainNav-item resource-link">Mentor Resources</a>
                        <a href="https://drive.google.com/drive/folders/0B99PUkc3AdAyUFM1c1plX0dEdUE?usp=sharing" class="mainNav-item resource-link">Mentee Resources</a>
                        <a href="Mentor_Contract.html" class="mainNav-item resource-link">Mentor Contract</a>
                        <a href="Mentee_Contract.html" class="mainNav-item resource-link">Mentee Contract</a>
                </div>

            </div>

        </div>
    </header>


<% include ./partials/footer %>
