<% include ./partials/header %>




<div style="margin-top:10%; width:65%;" class="container contracts">
<div style="margin-bottom:5%;">
<div class="card contracts-card">


  <div class="card-header"><h1 style="color:black; font-weight:700" align=center>CAMA Privacy Policy</h1></div>
  <div class="card-body">

<!--<iframe src="/files/CAMATermsofUse.pdf" width="100%;" type="application/pdf" width="100%" height="600px"></iframe> -->
<div align="center"><a href="/files/CAMATermsofUse.pdf" target=_blank  class="btn btn-outline-info waves-effect z-depth:5">Terms Of Use</a></div>


  </div>


</div>
</div>

</div>





<% include ./partials/footer %>
